* {
    width: 100%;
    height: 100%;
    margin: 0;
}
body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(45, 16, 54, 1) 70%, rgba(0, 0, 0, 1) 100%);
}
/* -------------------- SEÇÃO MENU PRINCIPAL --------------------- */ 
.menuPrincipal {
    width: 100%;
    align-items: center;
    justify-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-left: 3%;
}
.menu {
    display: flex;
    gap: 10px;
}
.logoNav{
    width: 100px;
    height: 75px;
}