/*Set main charset of project*/
@charset "UTF-8";

/*fonts imports*/
@font-face {
    font-family: 'rubic-doodle';
    src: url('../fonts/Rubik_Doodle_Shadow/RubikDoodleShadow-Regular.ttf');
}

@font-face {
    font-family: 'rubic-glitch';
    src: url('../fonts/Rubik_Glitch/RubikGlitch-Regular.ttf');
}

@font-face {
    font-family: 'tektur';
    src: url('../fonts/Tektur/static/Tektur-Regular.ttf');
}

:root {
    --tom-black: rgb(40, 40, 40);
}

/*Gereal setings*/
* {
    margin: 0;
    padding: 0;
    color: var(--tom-black);
}

#home {
    background-image: url('../img/background/texture.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    /* black theme idea */
    /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(45, 16, 54, 1) 70%, rgba(0, 0, 0, 1) 100%); */
}

/* -------------------- SEÇÃO MENU PRINCIPAL --------------------- */
.menu-principal {
    width: 100%;
    display: flex;
    margin-top: 2%;
    margin-left: 3%;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}

#content-image {
    margin-top: 60px;
}

#imagem-lines {
    z-index: 1;
    position: absolute;
    object-fit: cover;
    width: 100%;
}

.click-activable {
    z-index: 5;
}

.menu {
    gap: 10px;
    display: flex;
}

.logo-nav {
    width: 100px;
    height: 75px;
}

/*style in the initiun logo*/
.logo-nav {
    width: 100px;
    height: auto;
}

div > a {
    font-family: 'tektur', sans-serif;
    color: var(--tom-black);
    transition: all .4s;
    padding: 2px;
}

div > a:hover, #suport-button > a:hover {
    background-color: rgb(165, 80, 165);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    transition: all .4s;
    border-color: rgb(255, 255, 255);
}

.main-title {
    font-size: 3em;
    font-weight: bold;
}

.cross-title {
    font-size: 1em;
}

#text-main {
    margin-top: 120px;
}

#suport-button > a {
    color: var(--tom-black);
    font-family: 'tektur', sans-serif;
    border: 1px solid rgb(40, 40, 40);
    border-radius: 5px;
    transition: all .4s;
}

#title-initiun {
    color: var(--tom-black);
    font: normal bold 3em 'tektur', sans-serif; 
}

#contact {
    color: rgb(255, 255, 255);
    font: normal normal 1em 'tektur', sans-serif;
}

#button-redirect:hover {
    transform: scale(105%);
    transition: all .4s;
}

#button-redirect {
    background-color: rgb(95, 28, 95);
    transition: all .4s;
    margin-top: 100px;
}

#creator-title {
    font: normal normal 2.1em 'tektur', sans-serif;
    margin-top: 120px;
}

.creator-images {
    width: 150px;
}